/* Esto afecta a TODA la página */
/* Para usar la Bitcount (la decorativa) */

body {
    /* ACÁ VA LA RUTA A TU IMAGEN DE FONDO GENERAL */

    /* 1. Poné acá la ruta a tu imagen de fondo general */
    background-image:
    linear-gradient(
        rgba(0,0,0,0.7),
        rgba(0,0,0,0.7)
    ),
    url("../imagenes_portfolio/imagen4.jpg");
    
    /* 2. Hace que la imagen no se mueva cuando hacés scroll */
    background-attachment: fixed; 
    
    /* 3. Centra la imagen y hace que cubra toda la pantalla siempre */
    background-position: center;
    background-size: cover;
    
    /* 4. Evita que la imagen se repita como mosaico */
    background-repeat: no-repeat;
    
    /* 5. Color de respaldo por si la imagen tarda en cargar */
    background-color: #1a1a1a; 

    /* 6. Asegura que el contenido no se superponga al fondo */

    margin: 0;
    padding: 0;
    font-family: "Bitcount Grid Double Ink", sans-serif;
}

/* O si prefieres la Open Sans para que sea más legible */
/* body {
    font-family: 'Open Sans', sans-serif;
} 
*/

/* Títulos con la letra decorativa */
h1, h2, h3, .navbar-brand {
    font-family: "Bitcount Grid Double Ink", display;
}

/* El resto de la página con letra clara y legible */
body, p, input, label, button {
    font-family: 'Open Sans', sans-serif;
}
/* Esto asegura que los elementos de formulario también obedezcan */
button, input, select, textarea {
    font-family: inherit;
}
.titulo {
    text-align: center; /* Centra el texto horizontalmente */
    margin-top: 0px; /* Agrega un margen superior para separar el título del borde de la página */
    color: #faf6f6; /* Cambia el color del texto a un tono oscuro */
    font-family: 'Arial', sans-serif; /* Cambia la fuente del texto */
}

.fondo_datos {
    /* Cambiamos el blanco (255,255,255) por negro (0,0,0) al 50% de opacidad */
    background-color: rgba(0, 0, 0, 0.5); 
    
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1); /* Mantenemos el borde clarito para que resalte */
    
    /* El resto queda igual */
    border-radius: 15px;
    padding: 30px;
    color: #ffffff; /* Blanco puro para el texto */
}
.datos{
    font-size: 18px; /* Tamaño de fuente legible */
    color: #bdb7b7; /* Color del texto */
    line-height: 1.6; /* Espaciado entre líneas */
    font-family: 'Arial', sans-serif; /* Fuente del texto */ 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.foto-perfil {
    width: 200px; /* Ancho de la foto */
    height: 200px; /* Alto de la foto */
    border-radius: 50%; /* Hace que la foto sea circular */
    object-fit: cover; /* Asegura que la imagen cubra el área sin distorsionarse */
    margin-bottom: 20px; /* Espacio debajo de la foto */
}

/*
.fondo {
    background-image:
    linear-gradient(
        rgba(0,0,0,0.7),
        rgba(0,0,0,0.7)
    ),
    url("../imagenes_portfolio/imagen4.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}
*/